openapi: 3.2.0
info:
  title: Mixmax REST File Requests API
  version: '1'
  description: The Mixmax REST API provides lightweight, real-time access to Mixmax data — contacts, contact groups and notes, sequences and their recipients, file requests, meeting summaries and transcripts, and snippet tags.
  contact:
    name: Mixmax Developer Support
    url: https://developer.mixmax.com/
  x-apievangelist:
    method: generated
    source: https://developer.mixmax.com/ (llms.txt + reference pages)
    generated: '2026-07-20'
servers:
- url: https://api.mixmax.com/v1
  description: Mixmax production REST API
security:
- apiToken: []
tags:
- name: File Requests
  description: File requests you've sent out
paths:
  /filerequests:
    get:
      operationId: listFileRequests
      summary: List file requests
      description: Returns File Requests that you've sent out.
      tags:
      - File Requests
      responses:
        '200':
          description: File requests
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API token
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    RateLimited:
      description: Rate limit exceeded (120 requests per 60s window per IP and user). Inspect X-RateLimit-Limit, X-RateLimit-Remaining and X-RateLimit-Reset.
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
        X-RateLimit-Remaining:
          schema:
            type: integer
        X-RateLimit-Reset:
          schema:
            type: integer
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  securitySchemes:
    apiToken:
      type: apiKey
      in: header
      name: X-API-Token
      description: API token created under Mixmax Settings > Integrations. May alternatively be supplied as the apiToken query-string parameter.
