openapi: 3.1.0
info:
  title: Mixmax REST Contact Groups Sequences API
  version: '1'
  description: The Mixmax REST API provides lightweight, real-time access to Mixmax data — contacts, contact groups and notes, sequences and their recipients, file requests, meeting summaries and transcripts, and snippet tags. It is optimized for real-time interactions and is explicitly not designed for bulk exports or high-volume data synchronization. Authentication is via an API token (X-API-Token header or apiToken query parameter) created under Settings > Integrations. Faithful capture of the documented reference at https://developer.mixmax.com/ — response schemas are intentionally left open where the provider does not publish them (no fabrication).
  contact:
    name: Mixmax Developer Support
    url: https://developer.mixmax.com/
  x-apievangelist:
    method: generated
    source: https://developer.mixmax.com/ (llms.txt + reference pages)
    generated: '2026-07-20'
servers:
- url: https://api.mixmax.com/v1
  description: Mixmax production REST API
security:
- apiToken: []
tags:
- name: Sequences
  description: Sequences you have access to, and their recipients
paths:
  /sequences:
    get:
      operationId: listSequences
      summary: List sequences
      description: Returns a list of sequences that you have access to.
      tags:
      - Sequences
      parameters:
      - name: name
        in: query
        schema:
          type: string
        description: Returns sequences that match this string
      - name: expand
        in: query
        schema:
          type: string
        description: Pass expand=stages to return information about the stages too
      - name: folder
        in: query
        schema:
          type: string
        description: Filter by folder type (shared
        personal: null
        or a specific folderId): null
      responses:
        '200':
          description: Sequences
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /sequences/{id}/recipients:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Sequence id
    get:
      operationId: listSequenceRecipients
      summary: List sequence recipients
      description: Retrieves the activated recipients belonging to the specified sequence (draft recipients are excluded). This endpoint uses offset-based pagination and returns a single array of results (not the standard results/next envelope). You are limited to 10,000 total records.
      tags:
      - Sequences
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 50
        description: Page size
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
        description: Offset into the result set (max total 10000)
      responses:
        '200':
          description: Array of recipients
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  responses:
    RateLimited:
      description: Rate limit exceeded (120 requests per 60s window per IP and user). Inspect X-RateLimit-Limit, X-RateLimit-Remaining and X-RateLimit-Reset.
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
        X-RateLimit-Remaining:
          schema:
            type: integer
        X-RateLimit-Reset:
          schema:
            type: integer
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    Unauthorized:
      description: Missing or invalid API token
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  securitySchemes:
    apiToken:
      type: apiKey
      in: header
      name: X-API-Token
      description: API token created under Mixmax Settings > Integrations. May alternatively be supplied as the apiToken query-string parameter.
