openapi: 3.1.0
info:
  title: Mixmax REST Contact Groups Meetings API
  version: '1'
  description: The Mixmax REST API provides lightweight, real-time access to Mixmax data — contacts, contact groups and notes, sequences and their recipients, file requests, meeting summaries and transcripts, and snippet tags. It is optimized for real-time interactions and is explicitly not designed for bulk exports or high-volume data synchronization. Authentication is via an API token (X-API-Token header or apiToken query parameter) created under Settings > Integrations. Faithful capture of the documented reference at https://developer.mixmax.com/ — response schemas are intentionally left open where the provider does not publish them (no fabrication).
  contact:
    name: Mixmax Developer Support
    url: https://developer.mixmax.com/
  x-apievangelist:
    method: generated
    source: https://developer.mixmax.com/ (llms.txt + reference pages)
    generated: '2026-07-20'
servers:
- url: https://api.mixmax.com/v1
  description: Mixmax production REST API
security:
- apiToken: []
tags:
- name: Meetings
  description: Meeting Copilot summaries and transcripts (requires mixmaxApi feature)
paths:
  /meetings/summaries/search:
    get:
      operationId: searchMeetingSummaries
      summary: Search meeting summaries
      description: Search and retrieve meeting summaries with optional filters. Returns summaries for meetings where the authenticated user is the owner, or if workspace-wide access is enabled via admin settings, workspace admins can access summaries from all workspace members' meetings. Requires the mixmaxApi feature (API access enabled for your workspace).
      tags:
      - Meetings
      responses:
        '200':
          description: Meeting summaries
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: mixmaxApi feature not enabled for the workspace
        '429':
          $ref: '#/components/responses/RateLimited'
  /meetings/transcripts/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Meeting summary _id (from /meetings/summaries/search)
    get:
      operationId: getMeetingTranscript
      summary: Retrieve a meeting transcript
      description: Retrieve the full transcript for a specific meeting by its summary ID. Returns the complete transcript with speaker identification and timestamps. Requires the mixmaxApi feature.
      tags:
      - Meetings
      responses:
        '200':
          description: Meeting transcript
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: mixmaxApi feature not enabled for the workspace
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    RateLimited:
      description: Rate limit exceeded (120 requests per 60s window per IP and user). Inspect X-RateLimit-Limit, X-RateLimit-Remaining and X-RateLimit-Reset.
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
        X-RateLimit-Remaining:
          schema:
            type: integer
        X-RateLimit-Reset:
          schema:
            type: integer
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    Unauthorized:
      description: Missing or invalid API token
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  securitySchemes:
    apiToken:
      type: apiKey
      in: header
      name: X-API-Token
      description: API token created under Mixmax Settings > Integrations. May alternatively be supplied as the apiToken query-string parameter.
