openapi: 3.1.0
info:
  title: Mixmax REST Contact Groups API
  version: '1'
  description: The Mixmax REST API provides lightweight, real-time access to Mixmax data — contacts, contact groups and notes, sequences and their recipients, file requests, meeting summaries and transcripts, and snippet tags. It is optimized for real-time interactions and is explicitly not designed for bulk exports or high-volume data synchronization. Authentication is via an API token (X-API-Token header or apiToken query parameter) created under Settings > Integrations. Faithful capture of the documented reference at https://developer.mixmax.com/ — response schemas are intentionally left open where the provider does not publish them (no fabrication).
  contact:
    name: Mixmax Developer Support
    url: https://developer.mixmax.com/
  x-apievangelist:
    method: generated
    source: https://developer.mixmax.com/ (llms.txt + reference pages)
    generated: '2026-07-20'
servers:
- url: https://api.mixmax.com/v1
  description: Mixmax production REST API
security:
- apiToken: []
tags:
- name: Contact Groups
  description: Contact groups you own or that are shared with you — deprecated
paths:
  /contactgroups:
    get:
      operationId: listContactGroups
      summary: List contact groups
      description: Contact groups that you have access to (either that you have created, or that have been shared with you).
      deprecated: true
      tags:
      - Contact Groups
      responses:
        '200':
          description: Contact groups
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createContactGroup
      summary: Create a contact group
      deprecated: true
      tags:
      - Contact Groups
      responses:
        '200':
          description: Created contact group
        '401':
          $ref: '#/components/responses/Unauthorized'
  /contactgroups/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Contact group id
    get:
      operationId: getContactGroup
      summary: Fetch a specific contact group
      deprecated: true
      tags:
      - Contact Groups
      responses:
        '200':
          description: A contact group
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateContactGroup
      summary: Edit a contact group
      deprecated: true
      tags:
      - Contact Groups
      responses:
        '200':
          description: Updated contact group
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      operationId: deleteContactGroup
      summary: Delete a contact group
      deprecated: true
      tags:
      - Contact Groups
      responses:
        '200':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
  /contactgroups/{id}/contacts:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Contact group id
    get:
      operationId: listContactGroupMembers
      summary: List contact group membership
      description: Returns membership for a contact group.
      deprecated: true
      tags:
      - Contact Groups
      responses:
        '200':
          description: Group membership
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: addContactGroupMember
      summary: Add a contact to a contact group
      description: Adds a Contact to a Contact Group. You must own the group to add contacts to it.
      deprecated: true
      tags:
      - Contact Groups
      responses:
        '200':
          description: Added
        '401':
          $ref: '#/components/responses/Unauthorized'
  /contactgroups/{id}/contacts/{contactId}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Contact group id
    - name: contactId
      in: path
      required: true
      schema:
        type: string
      description: Contact id
    delete:
      operationId: removeContactGroupMember
      summary: Remove a contact from a contact group
      deprecated: true
      tags:
      - Contact Groups
      responses:
        '200':
          description: Removed
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    Unauthorized:
      description: Missing or invalid API token
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  securitySchemes:
    apiToken:
      type: apiKey
      in: header
      name: X-API-Token
      description: API token created under Mixmax Settings > Integrations. May alternatively be supplied as the apiToken query-string parameter.
