openapi: 3.1.0
info:
  title: Mixmax REST API
  version: '1'
  description: >-
    The Mixmax REST API provides lightweight, real-time access to Mixmax data —
    contacts, contact groups and notes, sequences and their recipients, file
    requests, meeting summaries and transcripts, and snippet tags. It is
    optimized for real-time interactions and is explicitly not designed for bulk
    exports or high-volume data synchronization. Authentication is via an API
    token (X-API-Token header or apiToken query parameter) created under Settings
    > Integrations. Faithful capture of the documented reference at
    https://developer.mixmax.com/ — response schemas are intentionally left open
    where the provider does not publish them (no fabrication).
  contact:
    name: Mixmax Developer Support
    url: https://developer.mixmax.com/
  x-apievangelist:
    method: generated
    source: https://developer.mixmax.com/ (llms.txt + reference pages)
    generated: '2026-07-20'
servers:
  - url: https://api.mixmax.com/v1
    description: Mixmax production REST API
security:
  - apiToken: []
tags:
  - name: Contacts
    description: Mixmax Contacts (people you've emailed) — deprecated resource group
  - name: Contact Groups
    description: Contact groups you own or that are shared with you — deprecated
  - name: Sequences
    description: Sequences you have access to, and their recipients
  - name: Meetings
    description: Meeting Copilot summaries and transcripts (requires mixmaxApi feature)
  - name: File Requests
    description: File requests you've sent out
  - name: Snippet Tags
    description: Snippet tag management
paths:
  /contacts:
    get:
      operationId: listContacts
      summary: List Mixmax Contacts
      description: >-
        Lists all your Mixmax Contacts (i.e. people you've emailed using Mixmax).
        Does not currently return contacts shared with you via shared contact
        groups (a performance limitation).
      deprecated: true
      tags: [Contacts]
      parameters:
        - { name: sort, in: query, schema: { type: string, enum: [name, email, timestamp, usedCount] }, description: Field to sort by }
        - { name: sortAscending, in: query, schema: { type: boolean }, description: Sort ascending }
        - { name: search, in: query, schema: { type: string }, description: Optional search string }
        - { name: includeShared, in: query, schema: { type: boolean }, description: Include shared contacts }
        - { name: expand, in: query, schema: { type: string }, description: Fields to expand (firstName, lastName, groups, notes, salesforce) }
        - { name: withAnalytics, in: query, schema: { type: boolean } }
        - { name: dates, in: query, schema: { type: string }, description: Analytics date range }
        - { name: timezoneOffset, in: query, schema: { type: integer }, description: Client timezone offset in minutes }
        - { name: since, in: query, schema: { type: string }, description: Lower bound of date range }
        - { name: until, in: query, schema: { type: string }, description: Upper bound of date range }
      responses:
        '200': { $ref: '#/components/responses/ContactCollection' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
    post:
      operationId: createContacts
      summary: Create one or more contacts
      deprecated: true
      tags: [Contacts]
      responses:
        '200': { description: Created contacts }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /contacts/query:
    post:
      operationId: queryContacts
      summary: Search for matching contacts
      description: >-
        Search for matching contacts across multiple sources including Mixmax,
        Google directory, and Salesforce (contacts, leads, accounts, and
        opportunities). Differs from GET /contacts which only searches Mixmax
        Contacts.
      deprecated: true
      tags: [Contacts]
      responses:
        '200': { description: Matching contacts }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /contacts/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: Contact _id }
    get:
      operationId: getContact
      summary: Retrieve a contact by _id
      deprecated: true
      tags: [Contacts]
      responses:
        '200': { description: A contact }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      operationId: updateContact
      summary: Update a specific contact
      deprecated: true
      tags: [Contacts]
      responses:
        '200': { description: Updated contact }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      operationId: deleteContact
      summary: Delete a specific contact
      deprecated: true
      tags: [Contacts]
      responses:
        '200': { description: Deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /contacts/{id}/notes:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: Contact _id }
    get:
      operationId: listContactNotes
      summary: List notes for a contact
      description: Lists notes for a contact. These can be seen in the Mixmax Dashboard under 'Contacts'.
      deprecated: true
      tags: [Contacts]
      responses:
        '200': { description: Notes for the contact }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      operationId: createContactNote
      summary: Create a contact note
      deprecated: true
      tags: [Contacts]
      responses:
        '200': { description: Created note }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /contacts/{id}/notes/{noteId}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: Contact _id }
      - { name: noteId, in: path, required: true, schema: { type: string }, description: Note id }
    put:
      operationId: updateContactNote
      summary: Update a contact note
      description: Updates a contact note. Only the creator of the note can edit it. The contact note will show "(edited)" in the UI.
      deprecated: true
      tags: [Contacts]
      responses:
        '200': { description: Updated note }
        '401': { $ref: '#/components/responses/Unauthorized' }
    delete:
      operationId: deleteContactNote
      summary: Delete a contact note
      description: Deletes a note. Only the creator of the note can delete it.
      deprecated: true
      tags: [Contacts]
      responses:
        '200': { description: Deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /contactgroups:
    get:
      operationId: listContactGroups
      summary: List contact groups
      description: Contact groups that you have access to (either that you have created, or that have been shared with you).
      deprecated: true
      tags: [Contact Groups]
      responses:
        '200': { description: Contact groups }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      operationId: createContactGroup
      summary: Create a contact group
      deprecated: true
      tags: [Contact Groups]
      responses:
        '200': { description: Created contact group }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /contactgroups/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: Contact group id }
    get:
      operationId: getContactGroup
      summary: Fetch a specific contact group
      deprecated: true
      tags: [Contact Groups]
      responses:
        '200': { description: A contact group }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      operationId: updateContactGroup
      summary: Edit a contact group
      deprecated: true
      tags: [Contact Groups]
      responses:
        '200': { description: Updated contact group }
        '401': { $ref: '#/components/responses/Unauthorized' }
    delete:
      operationId: deleteContactGroup
      summary: Delete a contact group
      deprecated: true
      tags: [Contact Groups]
      responses:
        '200': { description: Deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /contactgroups/{id}/contacts:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: Contact group id }
    get:
      operationId: listContactGroupMembers
      summary: List contact group membership
      description: Returns membership for a contact group.
      deprecated: true
      tags: [Contact Groups]
      responses:
        '200': { description: Group membership }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      operationId: addContactGroupMember
      summary: Add a contact to a contact group
      description: Adds a Contact to a Contact Group. You must own the group to add contacts to it.
      deprecated: true
      tags: [Contact Groups]
      responses:
        '200': { description: Added }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /contactgroups/{id}/contacts/{contactId}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: Contact group id }
      - { name: contactId, in: path, required: true, schema: { type: string }, description: Contact id }
    delete:
      operationId: removeContactGroupMember
      summary: Remove a contact from a contact group
      deprecated: true
      tags: [Contact Groups]
      responses:
        '200': { description: Removed }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /filerequests:
    get:
      operationId: listFileRequests
      summary: List file requests
      description: Returns File Requests that you've sent out.
      tags: [File Requests]
      responses:
        '200': { description: File requests }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /meetings/summaries/search:
    get:
      operationId: searchMeetingSummaries
      summary: Search meeting summaries
      description: >-
        Search and retrieve meeting summaries with optional filters. Returns
        summaries for meetings where the authenticated user is the owner, or if
        workspace-wide access is enabled via admin settings, workspace admins can
        access summaries from all workspace members' meetings. Requires the
        mixmaxApi feature (API access enabled for your workspace).
      tags: [Meetings]
      responses:
        '200': { description: Meeting summaries }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: mixmaxApi feature not enabled for the workspace }
        '429': { $ref: '#/components/responses/RateLimited' }
  /meetings/transcripts/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: Meeting summary _id (from /meetings/summaries/search) }
    get:
      operationId: getMeetingTranscript
      summary: Retrieve a meeting transcript
      description: >-
        Retrieve the full transcript for a specific meeting by its summary ID.
        Returns the complete transcript with speaker identification and
        timestamps. Requires the mixmaxApi feature.
      tags: [Meetings]
      responses:
        '200': { description: Meeting transcript }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: mixmaxApi feature not enabled for the workspace }
        '404': { $ref: '#/components/responses/NotFound' }
  /sequences:
    get:
      operationId: listSequences
      summary: List sequences
      description: Returns a list of sequences that you have access to.
      tags: [Sequences]
      parameters:
        - { name: name, in: query, schema: { type: string }, description: Returns sequences that match this string }
        - { name: expand, in: query, schema: { type: string }, description: Pass expand=stages to return information about the stages too }
        - { name: folder, in: query, schema: { type: string }, description: Filter by folder type (shared, personal, or a specific folderId) }
      responses:
        '200': { description: Sequences }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /sequences/{id}/recipients:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: Sequence id }
    get:
      operationId: listSequenceRecipients
      summary: List sequence recipients
      description: >-
        Retrieves the activated recipients belonging to the specified sequence
        (draft recipients are excluded). This endpoint uses offset-based
        pagination and returns a single array of results (not the standard
        results/next envelope). You are limited to 10,000 total records.
      tags: [Sequences]
      parameters:
        - { name: limit, in: query, schema: { type: integer, default: 50 }, description: Page size }
        - { name: offset, in: query, schema: { type: integer, default: 0 }, description: Offset into the result set (max total 10000) }
      responses:
        '200': { description: Array of recipients }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /snippettags/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: Snippet tag id }
    delete:
      operationId: deleteSnippetTag
      summary: Delete a snippet tag
      tags: [Snippet Tags]
      responses:
        '200': { description: Deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
components:
  securitySchemes:
    apiToken:
      type: apiKey
      in: header
      name: X-API-Token
      description: >-
        API token created under Mixmax Settings > Integrations. May alternatively
        be supplied as the apiToken query-string parameter.
  responses:
    ContactCollection:
      description: A cursor-paginated collection of contacts
      content:
        application/json:
          schema:
            type: object
            properties:
              results: { type: array, items: { type: object } }
              next: { type: [string, 'null'] }
              previous: { type: [string, 'null'] }
              hasNext: { type: boolean }
              hasPrevious: { type: boolean }
    Unauthorized:
      description: Missing or invalid API token
      content:
        application/json:
          schema:
            type: object
            properties:
              message: { type: string }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message: { type: string }
    RateLimited:
      description: >-
        Rate limit exceeded (120 requests per 60s window per IP and user).
        Inspect X-RateLimit-Limit, X-RateLimit-Remaining and X-RateLimit-Reset.
      headers:
        X-RateLimit-Limit: { schema: { type: integer } }
        X-RateLimit-Remaining: { schema: { type: integer } }
        X-RateLimit-Reset: { schema: { type: integer } }
      content:
        application/json:
          schema:
            type: object
            properties:
              message: { type: string }
